{% load static %}

<html lang="en">
<head>
    <title>Add Lesson</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
{% include 'navbar.html' %}
<h2 class="title">
    Add Lesson
</h2>
<form class="courseform" method="POST">
    {%  csrf_token %}
    <p>Lesson Title</p>{{ form.title }}
    <p>Lesson Description</p>{{ form.description }}
    <p>Course</p>{{ form.course }}
    <button type="submit">Submit</button>
</form>
    </div>
</form>
</p>
</body>
</html>